# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Import Datatset 1

In [2]:
data1 =pd.read_csv("C:\\Users\\mehta\\OneDrive\\Desktop\\HIV_0000000026^JSDGHIV (1).csv")

# Print first 5 rows of the data

In [3]:
data1.head()

,Unnamed: 0,Unnamed: 1,Number of new HIV infections,New HIV infections (per 1000 uninfected population),New HIV infections (per 1000 uninfected population).1,New HIV infections (per 1000 uninfected population).2
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]

# Print the column names.

In [4]:
data1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Number of new HIV infections',
       'New HIV infections (per 1000 uninfected population)',
       'New HIV infections (per 1000 uninfected population).1',
       'New HIV infections (per 1000 uninfected population).2'],
      dtype='object')

# Remove the brackets and content inside it.

In [5]:
import re
for column in data1.columns:
    data1["Number of new HIV infections"]= data1["Number of new HIV infections"].str.replace(r"\[.*\]"," ")
    data1["New HIV infections (per 1000 uninfected population)"]= data1["New HIV infections (per 1000 uninfected population)"].str.replace(r"\[.*\]"," ")                                                                                       
    data1["New HIV infections (per 1000 uninfected population).1"]= data1["New HIV infections (per 1000 uninfected population).1"].str.replace(r"\[.*\]"," ")
    data1["New HIV infections (per 1000 uninfected population).2"]= data1["New HIV infections (per 1000 uninfected population).2"].str.replace(r"\[.*\]"," ")

# Print cleaned data

In [6]:
data1.head()

,Unnamed: 0,Unnamed: 1,Number of new HIV infections,New HIV infections (per 1000 uninfected population),New HIV infections (per 1000 uninfected population).1,New HIV infections (per 1000 uninfected population).2
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000,0.22,0.23,0.21
2,Global,2018,1 700 000,0.23,0.24,0.22
3,Global,2017,1 800 000,0.24,0.24,0.23
4,Global,2016,1 800 000,0.25,0.25,0.24

In [7]:
print("the data is cleaned")

the data is cleaned