# Import Library

In [1]:
import pandas as pd

# Import Dataset 2

In [2]:
data2 = pd.read_csv("C:\\Users\\mehta\\OneDrive\\Desktop\\HIV_0000000006 (1).csv")

# Print first five rows of the dataset

In [3]:
data2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

# Print columns

In [4]:
data2.columns

Index(['WHO region', 'Year', 'Number of deaths due to HIV/AIDS'], dtype='object')

# Cleaned the dataset

In [5]:
import re
for column in data2.columns:
    data2["Number of deaths due to HIV/AIDS"] = data2["Number of deaths due to HIV/AIDS"].str.replace(r"\[.*\]"," ")

# Print cleaned data

In [6]:
data2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                        690 000
1     Global  2018                        730 000
2     Global  2017                        760 000
3     Global  2016                        800 000
4     Global  2015                        830 000

In [7]:
print("the data is now cleaned")

the data is now cleaned